/*
https://color.adobe.com/Green%20Globe%20On%20Moss%20-%20Environmental%20Concept-color-theme-12819809
*/
@font-face {
    font-family: "Roboto Medium";
    src: url("../public/fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("../public/fonts/libre_franklin/LibreFranklin-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../public/fonts/jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
:root {
    // --primary-color: #042940;
    --primary-color: #000;
    --secondary-color: #005c53;
    --bg-color: #ddd;
    --callout-color: #dbf227;
    --link-color: #042940;
    --time-color: #606060;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Medium";
}
p,
ul,
li {
    font-family: "Libre Franklin";
}
pre {
    font-family: "JetBrains Mono";
}
body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(4, 41, 64, 0.5) 90%), url("/background.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-color: #000000;
    overflow: hidden;

    overflow-x: hidden;
    // background: var(--bg-color);
    color: #404040;
    margin: 0;
    overflow-wrap: break-word;
    position: relative;
}
