.footer {
    // background: var(--bg-color);
    color: #fff;
    display: none;
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
    text-align: center;
    p {
        font-size: 0.8rem;
    }
}
