.header {
    background: var(--primary-color);
    color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: auto;
    min-height: 60px;
    // opacity: 0.95;
    opacity: 1;
    padding: 0 0 0 0.1rem;
    @media screen and (min-width: 1100px) {
        padding: 0.25rem 0.25rem 0.25rem 1rem;
    }
    position: fixed;
    width: 100%;
    z-index: 99;
    a {
        color: var(--bg-color);
        text-decoration: none;
        &:hover {
            color: var(--bg-color);
            border-bottom: 1px solid var(--bg-color);
        }
    }
    .site {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        h1 {
            font-size: 1.4rem;
            margin: 0;
        }
        p {
            border-left: 1px solid #fff;
            font-size: 1rem;
            margin-left: 0.5rem;
            padding-left: 0.5rem;
        }
    }
    .contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        @media screen and (min-width: 1100px) {
            padding-right: 3rem;
        }
        > * {
            font-size: 0.6rem;
        }
        @media screen and (min-width: 1100px) {
            > * {
                font-size: 0.8rem;
            }
        }
    }
}
